.services-center{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.service{
    min-height: 250px;
    background-image: url("../../assets/images/service-1-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3rem 2rem;
    border-radius: 5px;
}
.services .section{
    margin-top: 0;
}
.service h3{
    margin-bottom: 1rem;
    /* font-size: 1.5rem; */
}
.service p{
    font-size: 0.9rem;
}
.card h3{
    margin-bottom: 1rem;
}
.card p{
    font-size: 0.9rem;
}


.service-2{
    background-image: url("../../assets/images/service-2-bg.svg");
}
.service-3{
    background-image: url("../../assets/images/service-3-bg.svg");
}
.service p{
    color: white;
}
.service h3{
    color: white;
}
.section-2-bg{
    background-color: var(--grey-3);
    width: 100%;
}

.services-2-center{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}


@media screen and (max-width: 768px) {
    .services-center{
        grid-template-columns: 1fr 1fr;
    }
    .services-2-center{
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (max-width: 530px) {
    .services-center{
        grid-template-columns: 1fr;
    }
    
    .services-2-center{
        grid-template-columns: 1fr;
    }
}