.about-main{
    min-height: calc(100vh - 5rem);
    min-height: 60vh;
    background-image: linear-gradient(var(--gradient)), url("../../assets/images/about.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-main h1{
    color: var(--primary-4);
}
.about-main-center{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.about-main-info p{
line-height: 2.5;
max-width: 30em;
    margin-top: 0;
    padding-top: 0;
}

.about-main-info-2 img{
 
    width: 400px;
    height: 300px;
    object-fit: cover;
}
.about-main-info{

    /* background-color: red; */
}
.about-main-info-2{

    /* background-color: blue; */
}

.about-sub-center{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.bg-grey{
    background: var(--grey-3);
}

.div{
    height: 5rem;
}


@media screen and (max-width: 768px) {
    .about-sub-center{
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (max-width: 530px) {
    .about-main-center{
        grid-template-columns: 1fr;
    }
    .about-main-center .about-main-info-2{
        display: none;
    }
    
    .about-sub-center{
        grid-template-columns: 1fr;
    }
}