.navbar{
   
    -webkit-transition: var(--transition);
   
    -o-transition: var(--transition);
   
    transition: var(--transition);
  
    -webkit-transition: all 0.3s ease-in-out;
  
    -o-transition: all 0.3s ease-in-out;
  
    transition: all 0.3s ease-in-out;
    z-index: 10;
    background-color: white;
}

.nav-center{
    max-width: 1170px;
    margin: 0 auto;
    width: 90vw;
}

.nav-header{
 
    display: -webkit-box;
 
    display: -ms-flexbox;
 
    display: flex;
 
            -webkit-box-pack: justify;
 
                -ms-flex-pack: justify;
 
                    justify-content: space-between;
  
            -webkit-box-align: center;
  
                -ms-flex-align: center;
  
                    align-items: center;
    height: 80px;
}


.navbar a{
    color: var(--text-color);
}

.navbar a:hover{
    color: var(--primary-1);
}

.navbar a.active{
    font-weight: bold;
    color: var(--primary-1);
}

.navbar-fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: white;

            -webkit-box-shadow: 1px 2px 3px rgba(50, 50, 50, 0.1);

                    box-shadow: 1px 2px 3px rgba(50, 50, 50, 0.1); 
    width: 100%;
  
    -webkit-transition: var(--transition);
  
    -o-transition: var(--transition);
  
    transition: var(--transition);
   
    -webkit-transition: all 0.3s ease-in-out;
   
    -o-transition: all 0.3s ease-in-out;
   
    transition: all 0.3s ease-in-out;
    background: white;
}

 .navbar .nav-icon{
    display: none;
}
.nav-link{
    display: inline-block;
    margin: 0 1.5rem;
    text-transform: capitalize;
}
.nav-links-2{
    display: none;
}

.navbar .btn{
    border-radius: 7px;
}

.nav-center  .nav-icon:hover{
    color: var(--primary-1);
}


@media screen and (max-width: 920px) {
.navbar .btn{
    display: none;
}
  
}

@media screen and (max-width: 768px) {  
    .nav-links{
        display: none;
        overflow: hidden;
    }

  .nav-center  .nav-icon{
        display: block;
        cursor: pointer;
        font-size: 32px;
       
        -webkit-transition: var(--transition);
       
        -o-transition: var(--transition);
       
        transition: var(--transition)
    }
    
}

@media screen and (min-width: 992px) {
    .nav-center{
      width: 95vw;
    }
  }


