.statistics.section{
padding-bottom: 0;
}
.stats h2{
    margin-bottom: 0;
}

.statistics .top{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px; 
}



@media screen and (max-width: 450px) {
    .statistics .top{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .stats{
        text-align: center;
    }
}