.footer{
    background-color: var(--primary-2);
    color: white;
}
.footer h2 {
    color: white;
    margin-top: 40px;
    margin-bottom: 0;
}


.footer .wrapper{
   
    display: -webkit-box;
   
    display: -ms-flexbox;
   
    display: flex;
 
            -webkit-box-orient: vertical;
 
            -webkit-box-direction: normal;
 
                -ms-flex-direction: column;
 
                    flex-direction: column;
    
        -ms-flex-line-pack: justify;
    
            align-content: space-between;
    
            -webkit-box-pack: justify;
    
                -ms-flex-pack: justify;
    
                    justify-content: space-between;
}
.footer .copyright{
    margin-top: 120px;
}
.footer h3{
    color: white;
    margin-top: 20px;
}
.footer p{
    color: white;
}

.footer-center{
  
    display: -ms-grid;
  
    display: grid;

    -ms-grid-columns: 1fr 1fr 1fr 1fr;

    grid-template-columns: repeat(4, 1fr);
}
.footer-sub-center{

    display: -ms-grid;

    display: grid;
  
  
    -ms-grid-columns: 1fr 1fr 1fr;
  
  
    grid-template-columns: repeat(3, 1fr);
}
.footer .last-col{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

            -webkit-box-align: center;

                -ms-flex-align: center;

                    align-items: center;
   
            -webkit-box-pack: justify;
   
                -ms-flex-pack: justify;
   
                    justify-content: space-between;
    margin-top: 20px;
}

.footer .last-col h2{
    margin-top: 0;
}

.footer .last-col p{
    margin-bottom: 0;
}


.col li{
    display: block;
    margin-top: 1rem;
    font-size: 0.9rem;
}
.col p{
    font-size: 0.9rem;
    margin-bottom: 0;
}
.footer-sub-center h3{
    font-size: 1.5rem;
}



@media screen and (max-width: 768px) {
    .footer-center{
        display: block;
        text-align: center;
    }

    .footer-sub-center{
        display: block;
        
    }

    .list-container{
    
        display: -ms-grid;
    
        display: grid;
        place-items: center;
        -ms-grid-row-align: center;
        -ms-grid-column-align: center;
        place-self: center
    }

    .footer-center .col p{
        max-width: 100%
    }

    .footer .last-col{
      
                -webkit-box-orient: vertical;
      
                -webkit-box-direction: normal;
      
                    -ms-flex-direction: column;
      
                        flex-direction: column;
        text-align: center;
    }
   
   
    
}

@media screen and (max-width: 380px) {
    .footer-center{
      
        -ms-grid-columns: 1fr;
      
        grid-template-columns: 1fr;
    }

    
}